# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dexworld-admin/node_modules/

# Build output
dist/
dist-ssr/
dexworld-admin/dist/
dexworld-admin/dist-ssr/

# Rust/Tauri build artifacts
/target/

# Local environment variables
*.local
.env.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Nix & Direnv state
.direnv/
result*